# dependencies
/reactecom/node_modules
/reactecom/.pnp
/reactecom/.pnp.js

# testing
/reactecom/coverage

# production
/reactecom/build

# misc
/reactecom/.DS_Store
/reactecom/.env.local
/reactecom/.env.development.local
/reactecom/.env.test.local
/reactecom/.env.production.local

/reactecom/npm-debug.log*
/reactecom/yarn-debug.log*
/reactecom/yarn-error.log*
#laravel
/laravelcom/.phpunit.cache
/laravelcom/node_modules
/laravelcom/public/build
/laravelcom/public/hot
/laravelcom/public/storage
/laravelcom/storage/*.key
/laravelcom/vendor
/laravelcom/.env
/laravelcom/.env.backup
/laravelcom/.env.production
/laravelcom/.phpunit.result.cache
/laravelcom/Homestead.json
/laravelcom/Homestead.yaml
/laravelcom/auth.json
/laravelcom/npm-debug.log
/laravelcom/yarn-error.log
/laravelcom/.fleet
/laravelcom/.idea
/laravelcom/.vscode
